*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --var:.text-white{
    color: white;
  } 

}
/* ===== Scrollbar CSS ===== */
  /* Chrome, Edge, and Safari */
  body::-webkit-scrollbar {
    width: 10px;
    background: #ffffff;
  }

  body::-webkit-scrollbar-track {
    background: #000000;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
  } 
  
.w-fit{
  width: 100% !important;
}
/* 777777777777777777 */
.df{
  display: flex;
}
.df-col{
  display: flex;
  flex-direction: column;
}
.ai-c{
  align-items: center;
}
/* 777777777777777777  faltan los jf solos*/
.fd-column{
  flex-direction: column !important;
}
.ai-start{
  align-items: start !important;
}
.mt20{
  margin-top: 20px;
} 
.mb20{
  margin-bottom: 20px;
}
.jf-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.jf-sb{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.jf-se{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.jf-sa{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer{
  /* background-color: rgb(255, 0, 0); */
  color: white;

  width: 100%;
}
.footer-div{
  /* background-color: rgb(255, 0, 0); */
  padding: 0px 40px;
  margin: 10px;
  font-size: 18px;
}
.mb20{
  margin-bottom: 20px !important;
}
.margin-button20px{
  margin-bottom: 20px !important;
}
.margin-top20px{
  margin-top: 20px !important;
}
.padding-top20px{
  padding-top: 20px !important;
}
.footer-div-medium{
  border-right: #056cf2 solid 1px;
  border-left: #056cf2 solid 1px;
}
.button-shirt{
  display: inline-block !important;
}
.height35px{
  height: 35px !important;
}
.button-blue{
  border-radius: 4px;
  background-color: #056cf2;
  color: white;
  width: 100%;
  height: 100%;
  padding: 9px 22px 13px 22px;
  margin: 0px;
  cursor: pointer;
}

.text-bold{
  font-weight: bold !important;
}
.contentInput{
  width: 100%;
}
.w100{
  width: 100% !important;
}
.w50{
  width: 50% !important;
}
.hr{
  border: none;
  border-top: 1px solid #7c7c7c;
  margin: 5px 0 10px 0;
  width: 100%;
}
.fondo1{
  background-color: black;
  background-image: linear-gradient(0deg, rgba(4,0,1,1) 19%, rgba(4,0,1,0.7987570028011204) 25%, rgba(4,0,1,0) 76%),linear-gradient(180deg, rgba(4,0,1,1) 0%, rgba(4,0,1,0.7063200280112045) 11%, rgba(4,0,1,0) 24%), url("/public/img/fondo1.png");
  background-repeat: no-repeat;
  background-size: 100% 76%;
  background-attachment: fixed;

}
.fondo-negro{
  background-color: black;
}
.header-right-a{
  color: aliceblue;
  padding: 0px 10px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  bottom: 1px;
}
.div-form{
  margin: 20px 0;
}
.form{
  width: 600px;
  background-color: rgba(1, 1, 1, 0.5);
  padding: 30px;
}
.form-tittle{
  color: aliceblue;  
}
.form-div{
  margin: 10px 0;
}
.form-button > div{
  margin: 20px 0;
  height: 60px;
}

.input-content{
  margin-bottom: 16px;
}
.input{
  background-color: #333333;
  color: #cfcfcf;
  width: 100%;

  padding: 10px 8px;
  font-size: 16px;
  border: none;
  outline: 2px solid transparent; /* Inicialmente sin borde */
  border-radius: 4px;
  box-shadow: none;
  border-style: none;
  &:focus {
    outline-color: #056cf2;
  }
  &::placeholder{
    color: #7b7e7e;
  }
}
.input-transparent{
  background-color: rgba(1, 1, 1, 0);
  color: #cfcfcf;
  height: 100%;
  width: 17rem;

  padding: 10px 8px;
  font-size: 16px;
  border: 1px solid #056cf2;
  outline: 2px solid transparent; /* Inicialmente sin borde */
  border-radius: 4px;
  box-shadow: none;
  &:focus {
    outline-color: #0370ff;
  }
  &::placeholder{
    color: #7b7e7e;
  }
}
/* //////////////////////////////// */
input[type="file"] {
  display: none;
}

.custom-file-upload {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.custom-file-upload > img{
  width: 100%;
  display: block;
  height: 100%;
}
.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload:before {
  content: "";
  display: inline-block;
  background-image: url("../public/img/iconoImg.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.custom-file-upload:hover {
  background-color: #5e5d5d;
}

.card{
  width: 250px;
  height: 180px;
  padding: 10px;
  margin: 4px;
  background: rgb(0,71,190);
  background: linear-gradient(297deg, rgba(0,71,190,1) 0%, rgba(0,35,129,1) 13%, rgba(0,12,115,1) 33%, rgba(33,67,181,1) 82%, rgba(69,125,252,1) 95%);
  border-radius: 10px;
  cursor: pointer;
}
/* //////////////////////////////// */
.text-gray{
  color: #7c7c7c;
}
.text-white{
  color: white;
}
.helpertext{
  color: #0473d6;
}
.fs12{
  font-size: 12px;
}
.fs20{
  font-size: 20px;
}
.fs40{
  font-size: 40px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
